@model Core.Models.Whiskey

<h2>Add a new whiskey:</h2>
<hr />
<form name="formAddWhiskey" ng-submit="addWhiskey(form)">
	
	@*<input id="antiForgeryToken" ng-model="form.antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />*@

	<div>
		<div>
			<label>Name</label>
			<input type="text" ng-model="form.name" />
		</div>
		<div>
			<label>Age</label>
			<input type="number" ng-model="form.age"/>
		</div>
		<div>
			<label>AlcoholPercentage</label>
			<input type="number" ng-model="form.alcoholPercentage" />
		</div>
		<div>
			<label>Distillery Name</label>
			<input type="text" ng-model="form.distillery.name" />
		</div>
		<div>
			<label>Distillery Description</label>
			<input type="text" ng-model="form.distillery.description" />
		</div>
		<div>
			<button type="submit" >Spara</button>
		</div>
	</div>
</form>	
<p>{{message}}</p>